@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --color-brand-50: #d5ddfe;
  --color-brand-100: #bcc9fe;
  --color-brand-200: #8ba0fc;
  --color-brand-300: #5977fb;
  --color-brand-400: #274ffa;
  --color-brand-500: #0530e9;
  --color-brand-600: #0426b7;
  --color-brand-700: #031b85;
  --color-brand-800: #021153;
  --color-brand-900: #010721;

  --font-sans: "Inter", "system-ui", sans-serif;
}

@source "../index.html";
@source "../src";

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html,
body,
#root {
  height: 100%;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #020617;
  /* slate-950 */
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}